* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background-color: #eeeeee;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    max-width: 20%;
}

span{
    color: #000000;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10% 20px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight:  bold;
}

nav ul li a:hover{
    color: #ea1538;
    transition: .3s;
    text-decoration: none;
}

/* google translate css*/
.goog-te-combo {
    font-size: 14px; 
    background-color: #000000; 
    color: #ffffff; 
    padding: 5px 10px; 
    border-radius: 5px; 
    width: 150px;
}


.goog-te-combo:hover {
    background-color: #323232; 
    cursor: pointer;
}

/* Container Layout */
.login-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90%;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    background-color: rgb(189, 189, 189);
    border: 15px solid rgb(189, 189, 189);
    border-radius: 20px;
}

/* Left Section (Image and Content) */
.login-picture {
    background: url('/FrontEnd/images/food-login-pic.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 11px;
}

.login-picture::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Right Section (Form) */
.loginform {
    background-color: transparent;
    padding: 40px;
    color: white;
    width: 400px;
    margin: auto;
}

.loginform h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 40px;
    font-size: 50px;
}

.form-element {
    margin: 30px 0;
}

.form-element label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 20px;
}

.form-element input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
}

.form-element input::placeholder {
    color: #aaa;
}

#signup-p {
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgb(224 0 67 / 58%);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #000000;
}

.account-question {
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
}

a {
    color: rgb(224 0 67 / 58%);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* sign up css */

.s-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* height: 90%; */
    width: 80%;
    margin: auto;
    margin-top: 30px;
    background-color: rgb(189, 189, 189);
    border: 15px solid rgb(189, 189, 189);
    border-radius: 20px;
}

.s-popup p {
    text-align: center;
}

/* Sign-Up Form Styling */

.s-popup {
    background-color: transparent;
    padding: 40px;
    color: white;
    max-width: 500px;
    margin: auto;
}

.form2 {
    width: 300px;
}

.s-popup h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 40px;
    font-size: 50px;
}

.s-form-element {
    margin: 15px 0;
}

.s-form-element label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 20px;
}

.s-form-element input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
}

.s-form-element input::placeholder {
    color: #aaa;
}

.s-form-element button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgb(224 0 67 / 58%);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.s-form-element button:hover {
    background-color: #000000;
}

.sign-up-picture {
    overflow: hidden;
}


/* Right Section (Image) */
.sign-up-picture {
    background: url('/FrontEnd/images/sign-up-houses.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 11px;
}

.sign-up-picture::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*footer css*/
footer {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 80px;
    background-color: white;
}

.footer-container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.wrapper .footer-widget {
    width: calc(20% - 30px);
    margin: 0 15px 50px;
    padding: 0 12px;
}

.wrapper .footer-widget:nth-child(1) {
    width: calc(40% - 50px);
    margin-right: 15px;
}

.footer-logo {
    max-width: 300px;
    margin: 0;
    padding: 0;
    margin-left: -30px;
}

.wrapper .footer-widget .footer-logo {
    margin-bottom: 30px;
    vertical-align: middle;

}

.wrapper .footer-widget p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
}

.wrapper .footer-widget .socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.wrapper .footer-widget .socials li {
    list-style: none;
}

.wrapper .footer-widget .socials li a {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    color: white;
    background-color: rgb(224 0 67 / 58%);
    border-radius: 50%;
    font-size: 28px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-out;
}

.wrapper .footer-widget .socials li a:hover {
    background-color: rgb(0, 0, 0);
}

.wrapper .footer-widget h6{
    color: #000000;
    margin: 10px 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.wrapper .footer-widget .links li{
    list-style: none;
}

.wrapper .footer-widget .links li a {
    color: #585978;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 32px;
    transition: all .3s ease-out;
}

.wrapper .footer-widget .links li a:hover {
    color: rgb(0, 0, 0);
}

.copyright-wrapper {
    padding: 20px 0;
    border-top: 1px solid rgba(88, 89, 120, .4);
}

.copyright-wrapper p {
    color: rgba(88, 89, 120, .6);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.copyright-wrapper p a {
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    transition: all .3s ease-out;
}

.copyright-wrapper p a:hover {
    color: rgb(0, 0, 0);
}

/* Responsive Design */

@media (max-width: 1024px) {
    .login-form-container {
        width: 90%;
    }

    .loginform {
        padding: 30px;
    }

    .loginform h2 {
        font-size: 40px;
    }

    .form-element input {
        font-size: 14px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }
}

@media(max-width:992px) {
    .footer-container {
        max-width: 960px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .wrapper .footer-widget, 
    .wrapper .footer-widget:nth-child(1){
        width: calc(50% - 30px);
    }
}

@media (max-width: 768px) {
    /* for the log in form */
    .login-form-container {
        grid-template-columns: 1fr;
        width: 90%;
        height: auto;
        margin-top: 15px;
    }

    .login-picture {
        display: none; 
    }

    .loginform {
        padding: 20px;
        margin-top: 20px;
    }

    .loginform h2 {
        font-size: 32px;
    }

    .form-element input {
        font-size: 14px;
        padding: 8px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }
    /* for the sign up form */
    .s-form {
        grid-template-columns: 1fr; 
    }

    .sign-up-picture {
        display: none; 
    }

    .s-popup {
        padding: 20px;
    }

    .s-popup h2 {
        font-size: 32px;
    }

    .s-form-element input {
        font-size: 14px;
        padding: 8px;
    }

    .s-form-element button {
        font-size: 14px;
        padding: 8px;
    }

    .footer-container {
        max-width: 720px;
    }
    .wrapper .footer-widget, 
    .wrapper .footer-widget:nth-child(1){
        width: 100%;
        margin: 0 10px 50px;
    }
}

@media (max-width: 480px) {
    /* for the log in form */
    .loginform {
        padding: 15px;
        width: 100%;
    }

    .loginform h2 {
        font-size: 28px;
    }

    .form-element input {
        font-size: 12px;
        padding: 6px;
        
    }

    button {
        font-size: 12px;
        padding: 6px;
    }

    /* for the sign up form */
    .s-popup {
        padding: 8px;
        width: 100%;
    }

    .form2 {
        max-width: 100%;
    }

    .s-popup h2 {
        font-size: 28px;
    }

    .s-form-element input {
        font-size: 12px;
        padding: 6px;
    }

    .s-form-element button {
        font-size: 12px;
        padding: 6px;
    }
}
