body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;

}

.welcome-page {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left, .right {
    flex: 1;
}

.left {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.left h1 {
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
}

.left p {
    font-size: 1.2em;
    color: #666;
    line-height: 1.6;
}

.right {
    background: url('../images/welcomepic.webp') no-repeat center center;
    background-size: cover;
    width: 500px;
}
button {
    position: relative;
    width: 200px;
    padding: 15px 0;
    margin: 20px 10px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border: 2px solid #972239;;
    background: transparent;
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.5s ease;
}

button span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #972239;
    z-index: 0;
    transition: width 0.5s ease;
    border-radius: 25px;
}

button:hover span {
    width: 100%;
}

button a {
    position: relative;
    z-index: 1; /* Keeps the text above the background span */
    color: black;
    text-decoration: none;
    display: block; /* Ensures the a tag covers the full button */
    width: 100%;
    height: 100%;
    line-height: 45px; /* Vertically centers the text */
}

button:hover {
    border: none; /* Removes the border on hover */
    color: #fff; /* Ensures the text color stays consistent */
}

@media (max-width: 768px){
    .welcome-page {
        display: flex;
        width: 100vw;
        height: 100vh;
    }
    .left h1 {
        font-size:2em;
        color: #333;
        margin-bottom: 15px;
    }
    
    .left p {
        font-size: 1em;
        color: #666;
        line-height: 1;
    }
}