body, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.navbar li {
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
    background-color: #555;
    color: #fff;
    border-radius: 4px;
}


/* frequently asked questions */

h2 {
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 40px;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 700;
}


.accordian {
    margin: 60px auto;
    width: 800px;
    font-family: 'Poppins', sans-serif;
}

.accordian li {
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #eaeaea;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, .15), -6px -6px 10px -1px rgba(255, 255, 255, .7);
}

.accordian li label {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

label::before {
    content: '+';
    margin-right: 10px;
    font-size: 30px;
    font-weight: 600;
}

input[type="radio"]{
    display: none;
}

.accordian .content {
    color: #555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s, padding .5s;
}

.accordian input[type="radio"]:checked + label + .content{
    max-height: 400px;
    padding: 10px 10px 20px;
}

.accordian input[type="radio"]:checked + label::before {
    content: '-';
}




/* footer css below */

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 80px;
    background-color: white;
}

.footer-container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;

}

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.wrapper .footer-widget {
    width: calc(20% - 30px);
    margin: 0 15px 50px;
    padding: 0 12px;
}

.wrapper .footer-widget:nth-child(1) {
    width: calc(40% - 50px);
    margin-right: 15px;
}

.yuyiLogo {
    width: 80px;
}

.wrapper .footer-widget .yuyiLogo {
    margin-bottom: 30px;
    vertical-align: middle;

}

.wrapper .footer-widget p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;

}

.wrapper .footer-widget .socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.wrapper .footer-widget .socials li {
    list-style: none;
}

.wrapper .footer-widget .socials li a {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    color: white;
    background-color: rgb(164, 0, 0);
    border-radius: 50%;
    font-size: 28px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-out;
}

.wrapper .footer-widget .socials li a:hover {
    background-color: rgb(124, 124, 124);
}

.wrapper .footer-widget h6{
    color: #000000;
    margin: 10px 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.wrapper .footer-widget .links li{
    list-style: none;
}


.wrapper .footer-widget .links li a {
    color: #585978;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 32px;
    transition: all .3s ease-out;
}

.wrapper .footer-widget .links li a:hover {
    color: rgb(0, 0, 0);
}

.copyright-wrapper {
    padding: 20px 0;
    border-top: 1px solid rgba(88, 89, 120, .4);
}

.copyright-wrapper p {
    color: rgba(88, 89, 120, .6);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.copyright-wrapper p a {
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    transition: all .3s ease-out;
}

.copyright-wrapper p a:hover {
    color: rgb(0, 0, 0);
}

/* responsive header */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    .navbar li {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #444;
    }

    .navbar a {
        display: block;
        width: 100%;
        padding: 1rem;
    }
}

/* responsive footer */

@media(max-width:992px) {
    .footer-container {
        max-width: 960px;
    }

    .wrapper .footer-widget, 
    .wrapper .footer-widget:nth-child(1){
        width: calc(50% - 30px);
    }
}


@media(max-width:768px) {
    .footer-container {
        max-width: 720px;
    }
    .wrapper .footer-widget, 
    .wrapper .footer-widget:nth-child(1){
        width: 100%;
        margin: 0 10px 50px;
    }
}