/* styling for cards */
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  background: gainsboro;
  margin: 5% 0 5%;
}

.title {
  font-size: 2.5rem;
}

.desc-p {
  padding: 2.5rem;
  font-size: 1.5rem;
}

#cards {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  /* background: black ; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* padding: 5%; */
  /* gap: 5%; */
}

.card {
  position: relative;
  width: 320px;
  height: 450px;
  margin: 30px;
  /* background: rgb(217, 217, 235); */
  border-radius: 20px;
  /* border-bottom-left-radius: 160px;
      border-bottom-right-radius: 160px; */
  /* box-shadow: 0 15px 0 white, inset 0 -15px 0 rgba(255, 255, 255, 0.1),
    0 45px 0 rgba(0, 0, 0, 0.07); */

    /* -webkit-box-shadow: 31px 200px 55px 6px rgba(0,0,0,0.6);
    -moz-box-shadow: 31px 76px 55px 6px rgba(0,0,0,0.6);
    box-shadow: 31px 76px 55px 6px rgba(0,0,0,0.6);
 */
    /* -webkit-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.59);
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.59); */

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* diagonal styling for cards  */
.card:before {
  content: "";
  position: absolute;
  top: -140px;
  left: -40%;
  width: 100%;
  height: 120%;
  background: linear-gradient(25deg, transparent, rgba(255, 255, 255, 0.2));
  transform: rotate(35deg);
  pointer-events: none;
  filter: blur(5px);
}

.card:nth-child(1) {
  background: rgb(224 0 67 / 58%);
}

.card:nth-child(2) {
  background: rgb(224 0 67 / 58%);
}

.card:nth-child(3) {
  background: rgb(224 0 67 / 58%);
}

.content {
  position: absolute;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin-top: 147px;
  height: 228px;
  width: 228px;
  /* padding-left: 0px; */
  align-items: center;
  text-align: center;
  color: white;
}

#card1-p,
#card2-p,
#card3-p {
  font-size: 1.2rem;
  padding: 1rem;
}

#card1,
#card2,
#card3 {
  margin: 11%;
  padding: 5%;
}

.icon {
  position: absolute;
  width: 140px;
  height: 120px;
  background: rgb(255, 255, 255);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1), inset 0 -8px 0 white;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

/* card curve styling on left */
.icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  /* border-top-left-radius: 50px; */
  border-top-right-radius: 50px;
  box-shadow: 15px -15px 0 15px rgb(255, 255, 255);
}

/* card curve styling on right */
.icon::after {
  content: "";
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-left-radius: 50px;
  /* border-top-right-radius: 50px; */
  box-shadow: -15px -15px 0 15px rgb(255, 255, 255);
}

.icon ion-icon {
  color: black;
  position: relative;
  font-size: 5rem;
  z-index: 10000;
  --ionicon-stroke-width: 24px;
}

/* styling for box */
/* .box-container {
  padding-top: 4rem;
} */

.wrap {
  background: linear-gradient(
    to right top,
    rgba(213, 111, 213, 0.788),
    rgb(231, 18, 18)
  );
  -webkit-box-shadow: 4px 6px 8px 3px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 4px 6px 8px 3px rgba(0, 0, 0, 0.59);
  box-shadow: 4px 6px 8px 3px rgba(0, 0, 0, 0.59);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  color: white;
  border-radius: 18px;
  width: 70%;
  margin: auto;
  padding: 3rem;
}

.elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
}

.wrap-title {
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 2%;
}

/* styling for horizontal line */
hr.new1 {
  border-top: 1px solid rgb(255, 255, 255);
}

.new2 {
  border-bottom: 2px solid red;
  height: 4%;
  width: 35rem;
  margin: 5% auto;
}

#first-col,
#sec-col,
#third-col,
#fourth-col {
  padding: 1rem;
}

.wrap ul {
  padding: 2%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;

  list-style-type: none;
  font-weight: bold;
}

ul li {
  padding: 2%;
}

h6 {
  font-weight: lighter;
}

/* styling for news section */

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5rem 5rem;
}

#last-sec {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.article-title {
  color: gray;
}

.news-title {
  font-size: 3rem;
  font-weight: bold;
}

.art-button {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.articles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 4rem;
  gap: 1%;
}

.img1,
.img2,
.img3 {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 3%;
  background-color: rgba(234, 56, 80, 0.18);
  width: 275px;
  -webkit-box-shadow: 4px 6px 8px 3px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 4px 6px 8px 3px rgba(0, 0, 0, 0.59);
  box-shadow: 4px 6px 8px 3px rgba(0, 0, 0, 0.59);
}

.img2 p {
  padding-bottom: 9%;
}

.img2 a {
  padding-top: 6%;
}

.img3 h6 {
  font-size: 1.1rem;
}

.img1 img,
.img2 img,
.img3 img {
  border-radius: 3% 3% 0 0;
  display: block;
}

/* styling for dates to appear on top of img */
.dates {
  position: absolute;
  top: 141px;
  left: 10px;
  background: rgba(255, 33, 33, 0.6);
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  z-index: 10;
}

.comments {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 3%;
  color: red;
}

.comments span {
  color: gray;
}

.articles a {
  color: red;
  text-decoration: none;
}
.articles h6 {
  font-weight: bold;
  font-size: 1.1rem;
  padding-bottom: 5%;
}
.articles p {
  color: gray;
  font-size: 1rem;
  padding-bottom: 5%;
}
.articles a:hover {
  color: purple;
  text-decoration: none;
}

.art-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}
