.middle-sec {
    background-color: black;
  }
  
  #rotate-up {
    rotate: 180deg;
  }
  
  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
  }
  
  .desc-p {
    padding-top: 5%;
  }
  
  #cards {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: black ; */
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5%;
    /* gap: 5%; */
  }
  
  .card {
    position: relative;
    width: 320px;
    height: 450px;
    margin: 30px;
    /* background: rgb(217, 217, 235); */
    border-radius: 20px;
    border-bottom-left-radius: 160px;
      border-bottom-right-radius: 160px;
    box-shadow: 0 15px 0 white, inset 0 -15px 0 rgba(255, 255, 255, 0.1),
      0 45px 0 rgba(0, 0, 0, 0.07);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .card:before {
    content: "";
    position: absolute;
    top: -140px;
    left: -40%;
    width: 100%;
    height: 120%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
    transform: rotate(35deg);
    pointer-events: none;
    filter: blur(5px);
  }
  
  .card:nth-child(1) {
    background: rgba(146, 146, 235, 0.58);
  }
  
  .card:nth-child(2) {
    background: rgb(242, 155, 155, 0.58);
  }
  
  .card:nth-child(3) {
    background: rgba(241, 237, 131, 0.58);
  }
  
  .content {
      position: absolute;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 147px;
    height: 228px;
    width: 228px;
    /* padding-left: 0px; */
    align-items: center;
    text-align: center;
  }
  
  #card1-p,
  #card2-p,
  #card3-p {
    font-size: 1.2rem;
    padding: 1rem;
  }
  
  #card1,
  #card2,
  #card3 {
    margin: 11%;
    padding: 5%;
  }
  
  .icon {
    position: absolute;
    width: 140px;
    height: 120px;
    background: rgb(255, 255, 255);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1), inset 0 -8px 0 white;
    z-index: 1000;
    /* justify-content: center; */
    /* top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 100px;
      color: white; */
      display: flex;
      justify-content: center;
  }
  
  .icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    /* border-top-left-radius: 50px; */
    border-top-right-radius: 50px;
    box-shadow: 15px -15px 0 15px rgb(255, 255, 255);
  }
  
  .icon::after {
    content: "";
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-top-left-radius: 50px;
    /* border-top-right-radius: 50px; */
    box-shadow: -15px -15px 0 15px rgb(255, 255, 255);
  }
  
  .icon ion-icon {
      color: black;
      position: relative;
      font-size: 5rem;
      z-index: 10000;
      --ionicon-stroke-width: 24px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  
  /* #first {
    background-color: black;
    height: 22rem;
    width: 18rem;
  }
  
  #second {
    background-color: tomato;
    height: 22rem;
    width: 18rem;
  }
  
  #third {
    background-color: lightblue;
    height: 22rem;
    width: 18rem;
  } */