* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    color: rgb(0, 0, 0);
    font-size: 2rem;
}

span{
    color: #000000;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10% 20px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight:  bold;
}

nav ul li a:hover{
    color: #ea1538;
    transition: .3s;
}

/*About header*/
.about-header {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #ffffff; 
    background-color: #000000;
    padding: 90px 0;
}

.department {
    width: 100%;
    max-width: 200px;
    padding: 12px 16px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 8px;
    appearance: none; 
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gray"><path d="M7 10l5 5 5-5H7z"/></svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}
/*Our goal css */
.our-goal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

.text-content {
    flex: 1;
}

.text-content h3 {
    font-size: 2rem;
    color: #4CAF50;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    text-align: justify;
}

.text-content ul {
    list-style-type: disc;
    margin: 20px 0;
    padding-left: 40px;
}

.text-content ul li {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.happy-fam-pic {
    flex: 1;
    max-width: 400px;
    text-align: center;
}

.happy-fam-pic img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/*our team css*/

.container {
    padding-top: 100px;
}

.hover-container {
    position: relative;
    display: inline-block;
}

.custom-tooltip {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: bold;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s ease-in-out; 
    z-index: 10;
}

.hover-container:hover .custom-tooltip {
    visibility: visible;
    opacity: 1;
}

.team-heading {
    font-family: 'Poppins', sans-serif; 
    font-size: 3rem; 
    font-weight: 700; 
    color: #333; 
    text-align: center;
    margin-bottom: 50px; 
    letter-spacing: 1px; 
    text-transform: uppercase; 
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); 
}

.team-img {
    max-width: 100%;
    width: 350px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px; 
}

.team-img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 20px 30px 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; 
    max-width: 370px;
}

.team-name {
    font-size: 1.5rem;
    font-weight: 600;
    color: #222; 
    margin: 10px 0; 
    text-transform: capitalize;
    letter-spacing: 0.5px; 
    font-family: Arial, Helvetica, sans-serif;
}


.quote {
    margin-top: 0;
    font-style: italic;
    color: #555; 
    font-size: 1rem; 
    text-wrap: auto;
}

.top-row, .bottom-row {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap; 
}


@media (max-width: 768px) {
    .team-img {
        width: 200px;
    }

    .items {
        margin: 20px 10px;
        padding: 15px;
        max-width: 50%; 
        width: auto; 
    }

    .quote {
        font-size: 0.9rem;
    }
}
/* frequently asked questions */
section {
    padding: 40px 20px;
    background-color: #f9f9f9;
}

#faq {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

.accordian {
    list-style: none;
    padding: 0;
    max-width: 700px;
    margin: 0 auto;
}

.accordian li {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px; 
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.accordian label {
    display: block;
    padding: 15px 20px;
    font-size: 1.2rem;
    color: #000000;
    cursor: pointer;
    background: #fff;
    font-weight: bold;
    transition: background 0.3s ease, color 0.3s ease; 
}

.accordian label:hover {
    background: #909090;
    color: #fff;
}

.accordian input {
    display: none;
}

.accordian .content {
    max-height: 0;
    overflow: hidden;
    background-color: #f4f4f4;
    padding: 0 20px;
    font-size: 1rem;
    color: #555;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.accordian input:checked ~ .content {
    max-height: 200px; 
    padding: 15px 20px; 
}

.accordian .content p {
    margin: 0;
    line-height: 1.5;
}

/* Styling for Contact Us Section */
.our-contact-info {
    background-color: #f0f0f0;
    padding: 50px 20px;
    text-align: center; 
    border-top: 2px solid #ddd;
}

.contact-container {
    max-width: 600px;
    margin: 0 auto; 
}

.our-contact-info h2 {
    font-size: 2rem;
    margin-bottom: 20px; 
    color: #333; 
    font-weight: bold; 
}

.contact-detail {
    font-size: 1.2rem; 
    color: #555; 
    margin: 10px 0; 
}

.contact-detail a {
    color: #007BFF; 
    text-decoration: none; 
}

.contact-detail a:hover {
    text-decoration: underline; 
    color: #0056b3; 
}

/* footer css below */

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 80px;
    background-color: white;
}

.footer-container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;

}

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.wrapper .footer-widget {
    width: calc(20% - 30px);
    margin: 0 15px 50px;
    padding: 0 12px;
}

.wrapper .footer-widget:nth-child(1) {
    width: calc(40% - 50px);
    margin-right: 15px;
}

.footer-logo {
    max-width: 300px;
    margin: 0;
    padding: 0;
}

.wrapper .footer-widget .footer-logo {
    margin-bottom: 30px;
    vertical-align: middle;

}

.wrapper .footer-widget p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;

}

.wrapper .footer-widget .socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.wrapper .footer-widget .socials li {
    list-style: none;
}

.wrapper .footer-widget .socials li a {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    color: white;
    background-color: #ea1538;
    border-radius: 50%;
    font-size: 28px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-out;
}

.wrapper .footer-widget .socials li a:hover {
    background-color: rgb(133, 0, 0);
}

.wrapper .footer-widget h6{
    color: #000000;
    margin: 10px 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.wrapper .footer-widget .links li{
    list-style: none;
}


.wrapper .footer-widget .links li a {
    color: #585978;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 32px;
    transition: all .3s ease-out;
}

.wrapper .footer-widget .links li a:hover {
    color: rgb(0, 0, 0);
}

.copyright-wrapper {
    padding: 20px 0;
    border-top: 1px solid rgba(88, 89, 120, .4);
}

.copyright-wrapper p {
    color: rgba(88, 89, 120, .6);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.copyright-wrapper p a {
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    transition: all .3s ease-out;
}

.copyright-wrapper p a:hover {
    color: rgb(0, 0, 0);
}

/* responsive header */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    .navbar li {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #444;
    }

    .navbar a {
        display: block;
        width: 100%;
        padding: 1rem;
    }
}

/* responsive footer */

@media(max-width:992px) {
    .footer-container {
        max-width: 960px;
    }

    .wrapper .footer-widget, 
    .wrapper .footer-widget:nth-child(1){
        width: calc(50% - 30px);
    }
}


@media(max-width:768px) {
    .footer-container {
        max-width: 720px;
    }
    .wrapper .footer-widget, 
    .wrapper .footer-widget:nth-child(1){
        width: 100%;
        margin: 0 10px 50px;
    }
}